@tailwind base;
@tailwind components;
@tailwind utilities;
.containerr {
  @apply max-w-[1200px] mx-auto;
}
.btn-gradient {
  @apply bg-gradient-to-r from-[#79a200] to-[#445700];
}
.bg-gradient {
  @apply bg-gradient-to-r from-[#5CB245] to-[#00ff22];
}
.hover\:bg-gradient:hover {
  @apply bg-gradient-to-r from-[rgb(121,162,0)] to-[#445700];
}

/* Flag buttonni butunlay yo‘qotish */
.react-tel-input .flag-dropdown {
  display: none !important;
}

/* Inputni chap tarafdan to‘g‘ri ko‘rsatish */
.react-tel-input .form-control {
  padding-left: 1rem !important; /* chapdan bo‘sh joy qoldirish */
  border-radius: 0.5rem !important;
}
.a {
  position: relative;
  color: #4dff00;
  padding: 30px 30px;
  font-size: 30px;
  letter-spacing: 2;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.a:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0);
}
.a span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 4px;
  background: linear-gradient(to right, #005000, #4dff00);
  animation:  animate1 2s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}
.a span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 150%;
  background: linear-gradient(to bottom, #005000, #4dff00);
  animation:  animate2 2s linear infinite;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(100%);
  }
}
.a span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150%;
  height: 4px;
  background: linear-gradient(to left, #005000, #4dff00);
  animation:  animate3 2s linear infinite;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.a span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 150%;
  background: linear-gradient(to top, #005000, #4dff00);
  animation:  animate4 2s linear infinite;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100%{
    transform: translateY(-100%);
  }
}